<div class="container">
    <h1>Policiais</h1>
    <input [(ngModel)]="policial.id" placeholder="Id">
    <input [(ngModel)]="policial.rg_civil" placeholder="rg_civil" >
    <!-- <button class="btn cadastrar" (click)="salvar()">{{editando ? 'Atualizar': 'Cadastrar'}}</button> -->
<table>
    <tr>
        <th>Id</th>
        <th>RG Civil</th>
        <th>Rg Militar</th>
    </tr>
    <tr *ngFor="let policial of policiais">
        <td>{{policial.id}}</td>
        <td>{{policial.rg_civil}}</td>
        <td>
            <!-- <button class="btn editar" (click)="editar(policial)">Editar</button> -->
            <!-- <button class="btn excluir" (click)="excluir(policial.id!)">Excluir</button> -->
        </td>
    </tr>
    

</table>
</div>
